<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <p>
    <b>Rating</b><br />
    <%= f.radio_button :rating, '0' %> 0<br />
    <%= f.radio_button :rating, '1' %> 1<br />
    <%= f.radio_button :rating, '2' %> 2<br />
    <%= f.radio_button :rating, '3' %> 3<br />
    <%= f.radio_button :rating, '4' %> 4<br />
    <%= f.radio_button :rating, '5' %> 5<br />
</p>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
